h2 Create news
p.big Tell people what you've found out
hr

.row.make-post
  = simple_form_for @news, html: { class: "form-vertical" } do |f|
    .span8
      .well
        h5 Make news
        hr
        = f.input :title, label: false, placeholder: "Title goes here", input_html: { class: "input-xxlarge" }
        = f.input :body, label: false, placeholder: "Text goes here", input_html: { class: "input-xxlarge", rows: 7 }
    .span4
      .well
        h6 Actions
        hr
        = f.submit "Submit", class: "btn btn-primary"
        '
        button.btn Cancel


/ TODO: add delete if persisted
