- title "All news - Awesome News Feed"

h2.center Recent news

.tasks
  - @news.each do |news|
    .task
      h6
        = link_to news.title, news_path(news)
      p = truncate news.body, length: 255, separator: " "
      .tmeta
        i.icon-calendar
        = time_ago_in_words news.created_at
        '  ago -
        = link_to news_path(news) do
          i.icon-search
          | Read
        - if current_user
          '  -
          = link_to edit_news_path(news) do
            i.icon-pencil
            | Edit
          '  -
          = link_to news_path(news), method: :delete, confirm: "Are you sure?" do
            i.icon-remove
            | Remove
          '  -
          - if news.default?
            i.icon-pushpin
            | Default
          - else
            = link_to set_default_news_path(news), method: :put do
              i.icon-pushpin
              ' Set as default

= paginate @news

  /.task
  /  h6
  /    a href="#"
  /      | Op-Ed: Egypt’s Blood, America’s Complicity
  /  p Until the legitimate Morsi government is restored, American rhetoric about democracy will ring hollow.
  /  .tmeta
  /    i.icon-calendar
  /    '  2 minutes ago -
  /    a href="#"
  /      i.icon-search
  /      ' Read -
  /    a href="#"
  /      i.icon-pencil
  /      ' Edit -
  /    a href="#"
  /      i.icon-remove
  /      ' Remove -
  /    a href="#"
  /      i.icon-pushpin
  /      ' Set as default
  /
  /.task.cool
  /  h6 Admin, default news
  /  p Body
  /  .tmeta
  /    i.icon-calendar
  /    '  25 minutes ago -
  /    a href="#"
  /      i.icon-search
  /      ' Read -
  /    a href="#"
  /      i.icon-pencil
  /      ' Edit -
  /    a href="#"
  /      i.icon-remove
  /      ' Remove -
  /    i.icon-pushpin
  /    | Default
  /
  /.task
  /  h6 Guest
  /  p Body
  /  .tmeta
  /    i.icon-calendar
  /    '  25 minutes ago -
  /    a href="#"
  /      i.icon-search
  /      ' Read
