- title "#{@news.title} - Awesome News Feed"
.center
  h2 Breaking news!

  .breaking-news
    .container
      .row
        .span12
          h2 = @news.title
          h6 = @news.body
  .row
    .span12
      i.icon-calendar
      = time_ago_in_words @news.created_at
      '  ago
      - if current_user
        '  -
        = link_to edit_news_path(@news) do
          i.icon-pencil
          | Edit
        '  -
        = link_to news_path(@news), method: :delete, confirm: "Are you sure?" do
          i.icon-remove
          | Remove
        '  -
        - if @news.default?
          i.icon-pushpin
          | Default
        - else
          = link_to set_default_news_path(@news), method: :put do
            i.icon-pushpin
            ' Set as default

  = link_to "Read all news", news_index_path, class: "btn btn-large"