.register
  .row
    .span12
      .lrform
        h5 Login to your Account
        .form
          = simple_form_for(resource, as: resource_name, url: session_path(resource_name), \
            html: { class: "form-horizontal" }) do |f|
            .form-inputs
              = f.input :email, required: false, autofocus: true, input_html: { class: "input-xlarge" }
              = f.input :password, required: false, input_html: { class: "input-xlarge" }
              .control-group
                .controls
                  label.checkbox
                    = f.check_box :remember_me, as: :boolean
                    | Remember me

            .form-actions
              = f.button :submit, "Sign in", class: "btn btn-primary"

/<h2>Sign in</h2>
/
/<%= simple_form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
/  <div class="form-inputs">
/    <%= f.input :email, :required => false, :autofocus => true %>
/    <%= f.input :password, :required => false %>
/    <%= f.input :remember_me, :as => :boolean if devise_mapping.rememberable? %>
/  </div>
/
/  <div class="form-actions">
/    <%= f.button :submit, "Sign in" %>
/  </div>
/<% end %>
/
/<%= render "devise/shared/links" %>
