a.brand
  text-decoration: none

.breaking-news
  margin-top: 15px
  margin-bottom: 15px
  padding: 25px 0
  border-top: 5px solid #81499c
  background: #9b59bb
  h2, h6
    color: #fff
    padding: 0 40px

footer
  margin-top: 25px
  background-color: #fff !important
