doctype html
html
  head
    title = head_title "Awesome News Feed"
    meta name="viewport" content="width=device-width, initial-scale=1.0"

    = stylesheet_link_tag     "application", media: :all
    = javascript_include_tag  "application"
    = csrf_meta_tag

  body
    .content.service-three
      .container
        .row
          .span8
            = link_to root_path, class: "brand" do
              h1
                ' News
                span.color Feed
            end
          .span4
            p.big.grey
              | Our news are the coolest you've ever seen, no doubt!
        .row
          .span1.offset11
            - if current_user
              = link_to "Logout", destroy_user_session_path, method: :delete
            - else
              = link_to "Login", new_user_session_path
        hr

        = yield

    footer
      .container
        .center
          p &copy; Dmitry Gritsay